.wheel-container {
  margin: auto;
  margin-top: 200px;
  height: 300px;
  width: 300px;
  font-size: 30px;
}

.active {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

.top, .bottom, .left, .right {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
}


.top, .bottom {
  margin: 0 auto;
}

.circle, .circle-inactive {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
}

.circle {
  margin: auto;
}

.circle-inactive {
  position: relative;
  top: 125px;
  left: 125px;
}
