.wheel-container {
  margin: auto;
  margin-top: 200px;
  height: 300px;
  width: 300px;
  font-size: 30px
}
.top, .bottom, .left, .right {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
}


.top, .bottom {
  margin: 0 auto;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
  margin: auto;
}
