.wheel-container {
  margin-top: 200px;
  height: 300px;
  width: 300px;
  font-size: 30px
}

.four {
  position: relative;
}

.top {
  top: 0;
}

.left {
  top: 100px;
  float: left;
}

.right {
  top: 100px;
  float: right;
}

.bottom {
  top: 230px;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
  margin: auto;
}
